.pokemon {
  padding: 0.25rem;
  margin: 0.25rem;
  border: thin solid;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
}

.pokemon:hover {
  padding: 0.5rem;
}

.arrow {
  border: 10px solid transparent;
  border-left: 10px solid black;
  height: 0px;
}
