.modal {
  background-color: #00000042;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  background-color: white;
  border: thin solid #ccc;
  border-radius: 4px;

  padding: 2rem 6rem;
}
